[FORMAT]
max-line-length=120
disable=missing-module-docstring,too-few-public-methods,too-many-arguments,too-many-locals,too-many-nested-blocks,too-many-branches,too-many-statements,redefined-builtin,import-error
init-hook='import sys; sys.path.append("./")'
max-locals = 25
max-args = 10