[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.13"

[packages]
cdktf = "~=0.20.10"
cdktf-cdktf-provider-aws = "~=19.21.0"
cdktf-cdktf-provider-random = "~=11.0.3"
constructs = "~=10.3.0"
typing-extensions = "*"

[dev-packages]
ruff = "*"
pytest = "*"
